@import 'functions';

// Variables
// - Colors
$ec-primary: #ff6700;
$ec-primary-dark: #F06100;
$ec-secondary: #0066b3;
$ec-blue: hwb(198 0% 12%);
$ec-gray: #f2f2f2;
$ec-gray-2: #E5E5E5;
$ec-gray-3: #E6E6E6;
$ec-gray-border: rgba(0,0,0,0.2);
$ec-backdrop: rgba(0,0,0,.3);
$white: #fff;
$error: #e90202;
$ec-primary-blue: #002C5A;

// - Font colors
$font-color: #000;
$font-color-disabled: rgba($font-color,0.4);
// $font-color-label: #4B4B4B;
$font-color-label-secondary: #7F7F7F; // equal to rgba($font-color,.5)
$link-color: $ec-secondary;

// - Breakpoints
$breakpoint-sm-down: 767px;
$breakpoint-sm-up: 768px;

// - Widths
$desktop-max-width: 400px;

// - Typo
$font-family: Arial, Helvetica, sans-serif;
$font-family-bold: Arial, Helvetica, sans-serif;

$font-size-heading-xxl: 40px;
$font-size-heading-xl: 32px;
$font-size-heading-lg: 28px;
$font-size-heading: 24px;
$font-size-heading-sm: 20px;

$font-size-xl: 18px;
$font-size-lg: 16px;
$font-size-md: 15x;
$font-size: 14px;
$font-size-sm: 13px;
$font-size-xs: 12px;
$font-size-xxs: 10px;
$font-size-running: 13px;

$line-height: 1.4;
$line-height-lg: 1.6;
$line-height-heading: 1.3;

// - Border
$border-radius: 3px;
$border-radius-lg: 5px;
$border-radius-lg-xl: 8px;
$border-radius-xl: 10px;
$border-radius-xxl: 15px;

// - Transitions
$transition-slow: all .35s ease;
$transition: all 0.15s ease-in-out;
$transition-timing: cubic-bezier(0.73, 0.32, 0.14, 0.99);

// - Box shadows
$box-shadow: 0 0 25px rgba(0,0,0,.1);

// Images
$ratenkauf-icon: '<svg width="46" height="46" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M46 23c0 12.703-10.297 23-23 23S0 35.703 0 23 10.297 0 23 0s23 10.297 23 23" fill="#005DA9"/><path fill="#EC6608" d="M19.12 22.58L12 16v21h22z"/><path d="M25.734 8h-6.469C15.252 8 12 11.283 12 15.333V30c0-4.05 3.252-7.333 7.265-7.333l6.47-.002c4.012 0 7.265-3.283 7.265-7.332C33 11.283 29.747 8 25.734 8" fill="#FFF"/></g></svg>';
$icon-arrow-down: '<svg width="20" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M19.799 2.4l-9.9 9.899L0 2.399 2.121.28 9.9 8.055 17.678.278z" fill="#000" fill-rule="evenodd"/></svg>';
$icon-checkmark: '<svg width="41" height="41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20.78" cy="20.42" r="20" fill="#0066B3"/><path d="M29.5 15.45c-.11-.08-.39-.31-.83-.7-.42-.4-.69-.64-.82-.75a.42.42 0 00-.39-.11.53.53 0 00-.4.15l-1.32 1.49A815.49 815.49 0 0020 21.86l-1.29 1.4-.78-.62a97.04 97.04 0 01-3.6-2.9L13.4 19a.52.52 0 00-.43-.11.37.37 0 00-.31.15l-.75.82-.54.63c-.1.1-.16.23-.16.39.03.16.1.27.2.35l.93.98c.63.62 1.32 1.33 2.07 2.1.78.76 1.5 1.48 2.15 2.15.65.66 1.02 1 1.1 1.06.13.13.3.25.54.35.24.08.48.1.74.08.3-.03.53-.08.7-.16.19-.08.35-.18.48-.3l1.56-1.85a1050.07 1050.07 0 007.85-9.45c.1-.13.14-.26.12-.39a.63.63 0 00-.16-.35z" fill="#fff"/></svg>';
$icon-close-white: '<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#fff" fill-rule="evenodd"><rect transform="matrix(.707107 -.707107 .707107 .707107 -1.659484 5.620414)" x="-1.293" y="4.741" width="12.931" height="1" rx=".5"/><rect transform="matrix(.707107 .707107 -.707107 .707107 5.655414 -1.694484)" x="-1.293" y="4.741" width="12.931" height="1" rx=".5"/></svg>';
$bubble-arrow: '<svg width="42" height="31" viewBox="0 0 42 31" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.0555573 0.162781L42 30.8605L0.0555573 9.93022V0.162781Z" fill="#FF6700"/></svg>';
$icon-arrow-down: '<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.08124 0.186267C1.63183 -0.134742 1.00728 -0.0306508 0.686267 0.418762C0.365258 0.868174 0.469349 1.49272 0.918762 1.81373L2.08124 0.186267ZM9.08124 1.81373C9.53065 1.49272 9.63474 0.868174 9.31373 0.418762C8.99272 -0.0306508 8.36817 -0.134742 7.91876 0.186267L9.08124 1.81373ZM4.85469 3.39621L4.27345 4.20994L4.85469 3.39621ZM0.918762 1.81373L4.27345 4.20994L5.43593 2.58247L2.08124 0.186267L0.918762 1.81373ZM5.72655 4.20994L9.08124 1.81373L7.91876 0.186267L4.56407 2.58247L5.72655 4.20994ZM4.27345 4.20994C4.70808 4.52039 5.29193 4.52038 5.72655 4.20994L4.56407 2.58247C4.82484 2.39621 5.17515 2.39621 5.43593 2.58247L4.27345 4.20994Z" fill="black"/></svg>';

// App
:host {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Vue demo settings
  /*
  /@media (min-width: $breakpoint-sm-up) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  @media (max-width: $breakpoint-sm-down) {
    padding-bottom: 60px;
  }
  */

  // Links
  a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s $transition-timing;

    &:hover {
      color: rgba($link-color,.7);
    }
  }

  // Buttons
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: $ec-blue;
    border: 0;
    border-radius: 20px;
    transition: all 0.1s $transition-timing;
    cursor: pointer;
    font-weight: bold;
    color: $white;
    line-height: 1.4;

    &.btn-primary {
      background-color: $ec-primary;
    }

    &:hover,
    &:active,
    &:focus,
    &:visited {
      background-color: $ec-secondary !important;
      color: $white !important;

      &.btn-primary {
        background-color: $ec-primary-dark !important;
      }
    }
    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($ec-primary, .4) !important;
    }

    &:disabled, &.disabled {
      cursor: default;
      pointer-events: none;
      background-color: rgba($ec-primary, .5) !important;
      color: $white;
    }

    &.loading {
      display: inline-flex;
      align-items: center;

      @keyframes spinner-border {
        to { transform: rotate(360deg); }
      }

      &:before {
        content: '';
        margin-top: -1px;
        margin-right: 6px;
        display: block;
        width: 10px;
        height: 10px;
        border: 3px solid $white;
        border-right-color: transparent !important;
        border-radius: 50%;
        -webkit-animation: spinner-border 1s linear infinite;
        animation: spinner-border 1s linear infinite;
      }
    }
  }

  // Typo
  h1, h2, h3,
  .heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: $font-size-heading;
  }
  small {
    font-size: $font-size-xs;
    line-height: $line-height-lg;
  }

  // Forms
  .form-radio,
  .form-check {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    input {
      margin: 3px 6px 3px 1px;
    }

    label {
      display: inline-block;
      padding-left: 0;
      width: 100%;
      vertical-align: top;
      cursor: pointer;
      user-select: none;

      small {
        display: inline-block;
        font-weight: normal;
      }
    }

    &.badges {
      input {
        display: none;
      }

      label {
        display: inline-block;
        margin-right: 10px;
        padding: 7px 25px;
        width: auto;
        border-radius: $border-radius-lg;
        background-color: $ec-gray;
        transition: all 0.1s $transition-timing;
        cursor: pointer;
        text-align: center;
        font-size: $font-size-sm;
        font-weight: bold;
        color: $font-color;
      }
      input[type='radio']:checked+label {
        background-color: $ec-secondary;
        color: $white;
      }
    }
  }
  .form-submit {
    margin-top: 20px;
    text-align: right;
  }

  // Alerts
  .easycredit-tx-alert {
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    background-color: $ec-secondary;
    border-radius: $border-radius;
    font-family: $font-family !important;
    font-size: $font-size;
    color: $white;

    &.error {
      background-color: $error;
    }
    &.success {
      background-color: #8dd600;
    }

    -moz-animation: hideAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: hideAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

  }

  @keyframes hideAnimation {
    0% { opacity: 1; }
    99.9% { opacity: 0; max-height: 100px; }
    100% { opacity: 0; max-height: 0; padding: 0; margin: 0; }
  }

  @keyframes circle-linear--animation {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

// Logos
.logo-ratenkauf {
  background-image:url(https://ratenkaufbyeasycredit-components.netzkollektiv.com/easycredit-components/assets/ratenkauf-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 238px;
  height: 53px;
  max-width: 100%;
}

.logo-finanzgruppe {
  background-image:url(https://ratenkaufbyeasycredit-components.netzkollektiv.com/easycredit-components/assets/logo-finanzgruppe.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 232px;
  height: 26px;
  max-width: 100%;
}

.image-default {
  background-color: $ec-gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://ratenkaufbyeasycredit-components.netzkollektiv.com/easycredit-components/assets/motiv-online-bubble-landscape-700x467.jpg);
}
