.ec-box-listing {
    position: relative;
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    background-color: $ec-secondary;
    border-radius: $border-radius-xxl;
    // box-shadow: $box-shadow;

    &__image,
    &__content {
        padding: 25px;
        box-sizing: border-box;
    }

    &__image {
        @extend .image-default;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 35px;
        min-height: 400px;
        color: $white;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;

            display: block;
            width: 100%;
            height: 100%;
            background-color: $overlay-darken;
        }

        > div {
            z-index: 2;

            &.ec-box-listing__image-logo {
                z-index: 4;
            }

            &.circle {
                z-index: 1;
            }
        }
    }
    &__image-logo {
        @extend .logo-ratenkauf-white;
        margin-bottom: auto;
        height: 40px;
    }
    &__image-heading {
        margin-bottom: 10px;
        font-size: $font-size-heading-lg;
        line-height: $line-height-heading;
        font-weight: bold;
    }
    &__image-description {
        font-size: $font-size-sm;
        line-height: $line-height;
    }

    .ec__circle-badge-orange {
        bottom: auto;
        right: auto;
        top: 150px;
        left: 15px;
    }

    &__content {
        position: absolute;
        top: 100%;
        z-index: 5;

        display: block;
        padding-top: 90px;
        width: 100%;
        height: 100%;

        opacity: 0;
        transition: $transition;

        color: $white;
    }
    &__content-heading {
        margin-bottom: 15px;
        font-size: $font-size-heading-sm;
        line-height: $line-height-heading-lg;
        font-weight: bold;
    } 
    &__content-description {
        font-size: $font-size-xs;
        line-height: $line-height;
    }
    &__content-button {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    &__content-logo-finanzgruppe {
        @extend .logo-finanzgruppe-white;
        width: 100%;
        background-position: right center;
    }

    &:hover {
        .ec-box-listing__image {
            &:after {
                z-index: 3;
                background-color: $ec-secondary;
            }
        }

        .ec-box-listing__content {
            top: 0;
            opacity: 1;
        }

        .circle {
            animation-name: circle-rotation-out;
            animation-duration: 1s;
            opacity: 0;
        }
    }
}

@media(max-width: 1200px) {
    .ec-box-listing {
        &__image-heading {
            font-size: $font-size-heading;

            br {
                display: none;
            }
        }
    }
}

@media(max-width: 767px) {
}

@media(max-width: 479px) {
    .ec-box-listing {
        &__image-heading {
            br {
                display: block;
            }
        }
    }
}
