@keyframes content {
    0% {
        flex-basis: 0;
        width: 0;
        max-width: 0;
        visibility: hidden;
        color: transparent;
    }
    75% {
        flex-basis: 0;
        width: 0;
        max-width: 0;
        visibility: hidden;
        color: transparent;
    }
    100% {
    }
}
@keyframes modal {
    0% {
        width: 500px;
        height: 350px;
    }
    50% {
        width: 500px;
        height: 95vh;
    }
    100% {
    }
}
@keyframes modal-content {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
    }
}

.ec-express-button {
    --bg-color: #{$ec-primary};
    --bg-color-hover: #{$ec-primary-btn-hover};

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.35s ease;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: auto;
        max-width: 100%;

        cursor: pointer;

        text-align: center;
        font-size: $font-size-xxs;
        line-height: $line-height;
        color: $font-color !important;

        &:hover {
            color: rgba($font-color,.7) !important;
        }

        .icon {
            flex: 21.5px 0 0;
            width: 21.5px;
            max-width: 21.5px;

            @extend .logo-finanzgruppe-icon;
            display: inline-block;
            margin-right: 9px;
            height: 15px;

            position: relative;
            top: -.5px;
        }
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        width: auto;
        max-width: 100%;
        height: 45px;

        border-radius: $border-radius-xxl;
        cursor: pointer;

        a {
            background-color: var(--bg-color);
            transition: background-color 0.35s ease;

            color: $white;

            &:hover {
                background-color: var(--bg-color-hover);
                color: $white; 
            }
        }

        // Props
        &.blue {
            --bg-color: #{$ec-secondary};
            --bg-color-hover: #{$ec-secondary-btn-hover};
        }
        &.full-width {
            width: 100% !important;
        }

        &__main {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 36px;
            padding-right: 36px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            transition: all ease 0.35s;
            border-radius: 30px;

            font-size: $font-size;
            font-weight: bold;
            color: $white;

            .logo {
                flex: 0 0 59px;
                width: 59px;
                max-width: 59px;

                @extend .logo-ratenkauf-white;
                height: 45px;
            }

            &__inner {
                flex-shrink: 0;
                flex-grow: 0;
                flex-basis: auto;
                width: auto;
                max-width: 100%;

                position: relative;
                display: flex;
                align-items: center;

                height: 100%;
                box-sizing: border-box;
                overflow: hidden;
                visibility: visible;

                animation-name: content;
                animation-duration: 2s;
                color: $white;

                transition: width .1s ease, flex-basis .1s ease;
            }

            span {
                display: flex;
                white-space: nowrap;
            }

            .financing {
                padding-left: 10px;
            }
        }
    }

    &__modal__infopage {
        .ec-modal {
            padding: 50px 0;

            @media (min-width: $breakpoint-sm-up) {
                width: 60vw;
                height: 90vh;
            }

            @media (max-width: $breakpoint-sm-down) {
                height: 90vh;
            }
        }
    }
    &__modal__checkout {
        .ec-modal {
            @media (min-width: $breakpoint-sm-up) {
                width: 500px;
                height: 350px;
            }
        }
    }
    &__modal__payment {
        .ec-modal {
            @media (min-width: $breakpoint-sm-up) {
                width: 95vw;
                max-width: 95vw;
                height: 95vh;
                max-height: 95vw;

                animation-name: modal;
                animation-duration: 1s;

                [slot="content"] {
                    animation-name: modal-content;
                    animation-duration: 1.5s;
                }
            }

            @media (max-width: $breakpoint-sm-down) {
                height: 90vh;

                [slot="content"] {
                    animation-name: modal-content;
                    animation-duration: .5s;
                }
            }
        }
    }
}
