.ec-express-button {
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        max-width: 100%;

        cursor: pointer;

        text-align: center;
        font-size: $font-size-xxs;
        line-height: $line-height;
        color: $font-color !important;

        &:hover {
            color: rgba($font-color, .7) !important;
        }

        .icon {
            flex: 21.5px 0 0;
            width: 21.5px;
            max-width: 21.5px;

            @extend .logo-finanzgruppe-icon;
            display: inline-block;
            margin-right: 9px;
            height: 15px;

            position: relative;
            top: -.5px;
        }
    }
}
