// Status Widget
.easycredit-tx-status-widget {
  display: inline-flex;
  align-items: center;
  padding: 0 15px 0 15px;
  width: auto;
  height: 35px;
  background-color: $white;
  border: 0 solid $ec-gray;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 35px;
  color: $font-color;
  white-space: nowrap;

  user-select: none;

  border-radius: $border-radius-xl;
  box-shadow: 0 0 25px rgba(0,0,0,.1);

  span {
    display: flex;
  }

  span.logo {
    flex: 0 0 25px;
    margin-right: 7.5px;
    width: 25px;
    height: 100%;

    @include background-svg($ratenkauf-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
  }

  &.loading span.logo {
    animation: 1.4s linear infinite both circle-linear--animation;
  }

}

.easycredit-tx-status-widget.manager {
  background-color: $ec-gray;
  font-size: $font-size-running;
  font-weight: bold;

  box-shadow: none;
}
