.ec-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3001;
    transform: translate(-50%, -50%);

    display: none;
    width: 500px;
    max-width: 90vw;
    height: auto;
    min-height: 200px;
    max-height: 90vh;
    padding: 50px 30px 30px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;

    background-color: $white;
    border-radius: $border-radius-xl;
    box-shadow: $box-shadow;

    color: $font-color;

    &.show {
        display: block;
    }

    @media (max-width: $breakpoint-sm-down) {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        padding-bottom: 20px;
        width: 100vw;
        max-width: 100vw;
        max-height: 100vh;
        overflow: scroll;
        border-radius: 0;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 5;
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            display: block;
            width: 15px;
            height: 15px;
        }
    }

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        padding: 40px 30px 30px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 0;
    }

    .heading {
        margin-bottom: 20px;
        color: $font-color;
    }

    .title,
    .privacy {
        p {
            font-size: $font-size-sm;
        }
    }
    .title {
        margin-bottom: 30px;
    }
}

.ec-modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    display: none;
    width: 100%;
    height: 100%;
    background-color: $ec-backdrop;

    &.show {
        display: block;
    }
}

.ec-modal-sandbox {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 20px 25px;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: scroll;
    background-color: $white;
    box-shadow: 0 0 25px rgba(0,0,0,.15);

    &::-webkit-scrollbar {
        display: none !important;
    }

    strong {
        display: inline-block;
        margin-right: 15px;
    }

    a {
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
    }
}
