@keyframes modal-mobile {
    0% {
        transform: translateY(100%);
    }
    100% {
    }
}
@keyframes modal-size-full {
    0% {
        width: 500px;
        height: 350px;
    }
    50% {
        width: 500px;
        height: 95vh;
    }
    100% {
    }
}
@keyframes modal-content {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
    }
}

%iframe {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;

    padding: 40px 30px 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border: 0;
}

.ec-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10001;
    transform: translate(-50%, -50%);

    display: none;
    width: 500px;
    max-width: 90vw;
    height: auto;
    min-height: 200px;
    max-height: 95vh;
    padding: 50px 30px 30px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: $white;
    border-radius: $border-radius-xxxl;
    box-shadow: $box-shadow;

    color: $font-color;

    &.show {
        display: block;
    }

    @media (max-width: $breakpoint-sm-down) {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        padding-bottom: 20px;
        width: 100vw;
        max-width: 100vw;
        max-height: 100vh;
        max-height: -webkit-fill-available;
        overflow: scroll;
        border-radius: 0;

        animation-name: modal-mobile;
        animation-duration: .25s;
    }

    .close {
        position: absolute;
        top: 13px;
        right: 13px;
        cursor: pointer;
        z-index: 5;

        display: block;
        width: 27px;
        height: 27px;

        @include background-svg($icon-close-blue);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 9px;
        border-radius: 50%;
    }

    iframe {
        @extend %iframe;

        &.iframe-full {
            padding: 0;

            @media (min-width: $breakpoint-sm-up) {
                border-radius: $border-radius-xxl;
            }
        }
    }

    &.size-small {
        @media (min-width: $breakpoint-sm-up) {
            width: 500px;
            height: 350px;
        }
    }
    &.size-medium {
        padding: 0;

        @media (min-width: $breakpoint-sm-up) {
            width: 800px;
            max-height: 650px;
        }
    }
    &.size-payment {
        width: 499px; // ensures display of payment terminal with mobile layout
        height: 900px;
        background-color: $ec-lightblue;

        @media (max-width: $breakpoint-sm-down) {
            width: 100vw;
            height: calc(100vh - 30px);

            ::slotted(iframe) {
                left: 50%;
                transform: translate(-50%,0);
                max-width: 499px;
            }
        }
    }
    &.size-infopage {
        padding: 50px 0;

        @media (min-width: $breakpoint-sm-up) {
            width: 60vw;
            height: 90vh;
        }

        @media (max-width: $breakpoint-sm-down) {
            height: 90vh;
        }
    }
    &.size-full {
        overflow: visible;

        .close {
            top: -13px;

            background-color: $white;
            box-shadow: $box-shadow;
        }

        @media (min-width: $breakpoint-sm-up) {
            width: 95vw;
            max-width: 95vw;
            height: 95vh;
            max-height: 95vw;

            animation-name: modal-size-full;
            animation-duration: 1s;

            .content {
                animation-name: modal-content;
                animation-duration: 1.5s;
            }
        }

        @media (max-width: $breakpoint-sm-down) {
            height: 90vh;

            .content {
                animation-name: modal-content;
                animation-duration: .5s;
            }
        }
    }

    .heading {
        margin-bottom: 20px;
        color: $font-color;
    }

    .content {
        font-size: $font-size;
    }
}

.ec-modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    display: none;
    width: 100%;
    height: 100%;
    background-color: $ec-backdrop;

    &.show {
        display: block;
    }
}

::slotted(iframe) {
    @extend %iframe;
}
::slotted(.iframe-full) {
    padding: 0;

    @media (min-width: $breakpoint-sm-up) {
        border-radius: $border-radius-xxl;
    }
}
