.ec-box-flash {
    position: fixed;
    right: 30px;
    bottom: -215px;
    z-index: 1001;
    width: 390px;
    height: 270px;
    cursor: pointer;
    transition: $transition-slow;

    &.active {
        bottom: 0;
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 10px;
        height: 10px;
        opacity: 0;
        cursor: pointer;
        transition: $transition-slow;

        @include background-svg($icon-close-white);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &.active {
        .ec-box-flash__close {
            opacity: 1;
        }
    }

    &__inner {
        position: relative;
        right: 0;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
        transition: $transition-slow;
        background-color: $ec-secondary;
        border-radius: $border-radius-xl $border-radius-xl 0 0;
        box-shadow: $box-shadow;
        color: $white;
    }

    &__image {
        flex: 0 0 120px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 120px;
        background-color: $white;
        border-top-left-radius: $border-radius-xl;
    }
    &__image-logo {
        transition: $transition-slow;
        text-align: center;

        @extend .logo-ratenkauf;
        height: 55px;
        background-position: center;
        background-size: 95px auto;
    }
    &.active {
        .ec-box-flash__image-logo {
            // height: 60px;
        }
    }
    &__image-product {
        flex: 1 1 auto;
        text-align: center;
        @extend .image-default;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.empty {
            img {
                visibility: hidden;
            }
        }
    }
    &__image-logo-secondary {
        text-align: center;

        @extend .logo-finanzgruppe;
        height: 35px;
        background-position: center;
        background-size: 74px auto;
    }

    &__price {
        position: absolute;
        left: -115px;
        top: 60px;
        z-index: 5;
        display: flex;
        flex-flow: row wrap;
        padding: 12.5px;
        width: 160px;

        background-color: $ec-primary;
        border-radius: $border-radius-xl;

        font-size: $font-size-sm;
        line-height: $line-height;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 15px;
            right: -74px;
            z-index: 1001;
            width: 75px;
            height: 45px;

            @include background-svg($bubble-arrow);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__price-start {
        width: 100%;
        // margin-bottom: 3px;
    }
    &__price-per-month {
        display: flex;
        align-items: center;

        span {
            font-size: $font-size-heading-xl;
            font-weight: bold;
        }
        .month {
            font-size: $font-size;
            line-height: $font-size * 1.15;
            width: 100%;
            margin-left: 7.5px;
        }
    }

    &__content {
        flex: 1 1 100%;
        padding: 20px 25px 25px;
        width: 100%;
        box-sizing: border-box;
        transition: $transition-slow;
    }
    &.active {
        .ec-box-flash__content {
            padding-top: 25px;
        }
    }
    &__content-heading {
        margin-bottom: 20px;
        font-size: $font-size-md;
        line-height: 1em;
        font-weight: bold;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__content-description {
        margin-bottom: 20px;
        font-size: $font-size-sm;
        line-height: $line-height;
    }
    &__content-fine-print {
        font-size: $font-size-lg * 1.5;
        line-height: $line-height;
    }
}

@media(max-width: 520px) {
    .ec-box-flash {
        width: 340px;
        height: 360px;
        bottom: -315px;
        right: 15px;

        &.active {
            .easycredit-box-flash-inner {
                .easycredit-box-flash-image {
                    .easycredit-box-flash-image-logo {
                        margin-top: 25px;
                    }
                }
            }
        }

        &__image {
            flex-basis: 150px;
            width: 150px;
        }
        &__image-logo {
            margin-top: 12.5px;

            img {
                width: 85px;
            }
        }
        &__image-product {
            margin-top: -10px;
            overflow: hidden;
        }
        &__image-logo-secondary {
            margin-top: 15px;
        }

        &__price {
            position: relative;
            top: 0;
            left: 10px;
            margin-top: 15px;
            width: calc(100% - 45px);
            font-size: $font-size-xs;

            &:after {
                top: auto;
                bottom: -34px;
                right: auto;
                left: 20px;
                background-size: 35px;
            }
        }

        &__content {
            padding: 6.5px 20px 25px;
        }
        &.active {
            .ec-box-flash__content {
                padding-top: 20px;
            }
        }
        &__content-heading {
            margin-bottom: 15px;
            line-height: 1.2em;
        }
        &__content-description {
            margin-bottom: 15px;
        }
    }
}
