// Checkout
.ec-checkout {
  margin-top: 20px;
  padding: 30px 25px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background: $white !important;
  border-radius: $border-radius-xl;
  box-shadow: $box-shadow;

  @media (min-width: $breakpoint-sm-up) {
    width: $desktop-max-width;
  }

  @media (max-width: $breakpoint-sm-down) {
    padding: 25px 20px;
  }

  &__alert {
    position: relative;
    margin-bottom: -10px;
    list-style: none;
    padding: 16px 15px 16px 64px;
    background-color: $ec-secondary;
    border-radius: $border-radius-xl;
    font-size: $font-size-sm;
    font-weight: bold;
    color: $white;
    hyphens: manual;

    &:before {
      content: '!';
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border: 2px solid $white;
      border-radius: 50%;
      font-size: 1em * 1.1;
      line-height: 24px;
    }

    a {
      color: $white;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus,
      &:visited {
        text-decoration: none;
      }
    }
  }

  &__body {
    position: relative;

    &.faded {
      pointer-events: none;
      user-select: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($white,.7);
      }
    }
  }

  &__totals {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: none;
    padding: 16px 15px;
    background-color: $ec-gray;
    border-radius: $border-radius-xl;
    color: $font-color;

    li {
      display: flex;
      justify-content: space-between;
      padding: 2px 0;

      &.total {
        font-weight: bold;
      }
    }
  }

  &__actions {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__small-print {
    margin-top: 20px;
    margin-bottom: 0;
    color: rgba($font-color,.5);
  }

  .ec-payment-plan {
    strong {
      color: $font-color;
    }

    .ec-checkout__small-print {
      margin-top: 10px;
    }
  }

  // Rules for IE10 and above
  @media all and (-ms-high-contrast:none) {
    easycredit-checkout-installments { display: none; }
    .ec-checkout__totals { display: none; }
    .ec-checkout__small-print { display: none; }
  }
}
