.ec-box-modal {
    display: none;

    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &.show {
        display: block;
    }

    &__backdrop {
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: $ec-backdrop;
    }

    &__inner {
        position: relative;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%,-50%);

        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        width: 600px;
        max-width: 90vw;
        overflow: hidden;

        background-color: $white;
        border-radius: $border-radius-xxl;
        box-shadow: $box-shadow;

        color: $font-color;
    }
    &__close {
        position: absolute;
        top: 21px;
        right: 21px;
        cursor: pointer;
        z-index: 5;

        @include background-svg($icon-close-blue);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 9px;
        width: 27px;
        height: 27px;
    }

    &__image {
        flex: 0 0 50%;

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        width: 50%;
        box-sizing: border-box;
        overflow: hidden;

        @extend .image-default;
        background-color: $white;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;

            display: block;
            width: 100%;
            height: 100%;
            background-color: $overlay-darken;
        }

        > div {
            z-index: 2;

            &.ec-box-modal__image-logo {
                z-index: 4;
            }

            &.circle {
                z-index: 1;
            }
        }
    }
    &__image-logo {
        margin-bottom: auto;

        @extend .logo-ratenkauf-white;
        width: 100%;
        height: 47.5px;
    }

    &__content {
        flex: 1 1 100%;

        position: relative;
        padding: 40px;
        width: 100%;
        box-sizing: border-box;
    }
    &__content-heading {
        margin-bottom: 15px;
        font-size: $font-size-heading-xxl;
        line-height: $line-height-heading-sm;
        font-weight: bold;
    }
    &__content-description {
        margin-bottom: 15px;
        font-size: $font-size-sm;
        line-height: $line-height;
    }
    &__content-button {
        margin-bottom: 30px;
    }
    &__content-logo-finanzgruppe {
        @extend .logo-finanzgruppe;
        margin-left: auto;
    }

    .ec__circle-badge {
        top: 210px;
        left: -80px;
        z-index: 5;
    }
}

@media(max-width: 767px) {
    .ec-box-modal {
        &__inner {
            flex-wrap: wrap;
            max-height: 95vh;
            overflow: scroll;
        }

        &__close {
            @include background-svg($icon-close-white);
        }

        &__image {
            flex-basis: 100%;

            width: 100%;
            height: 220px;

            .circle {
                width: $circle-width-33;
            }
            .circle-secondary {
                width: $circle-width-33-secondary;
            }
        }

        &__content {
            padding: 30px;
        }
        &__content-heading {
            font-size: $font-size-heading-xl;
            line-height: $line-height-heading;
        }

        .ec__circle-badge {
            left: auto;
            right: 30px;
            top: -65px;
        }
    }
}
