// Checkout Label
.ec-checkout-label {
  position: relative;
  padding-right: 45px;
  width: 100%;
  max-width: 100%;
  min-height: 35px;
  box-sizing: border-box;

  @media (min-width: $breakpoint-sm-up) {
    width: $desktop-max-width;
  }

  &__logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &-installment {
      @extend .logo-ratenkauf;
    }
    &-bill {
      @extend .logo-rechnungskauf;
    }

    display: block;
    width: 60px;
    height: 100%;
    background-position: right center;
    background-size: 100% auto;
  }

  strong {
    font-weight: bold;
  }

  small {
    color: $font-color-label-secondary;
  }
}
