:host {
  display: block;
}
:host([display-type="minimal"]) {
  display: inline-block;
  vertical-align: middle;
}

.ec-widget {
  position: relative;
  display: flex;
  padding: 0 0 0 10px;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;

  >svg {
    align-self: center;
    margin-right: 7.5px;
    flex: 0 0 22.5px;
    width: 22.5px;
    height: 22.5px;
  }

  >span {
    display: inline-block;
    padding: 6.5px 0;
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    flex: 0 0 23px;
    width: 23px;

    border-left: 1px solid rgba($ec-darkblue,0.1);
    cursor: pointer;

    &:hover {
      margin-bottom: -1px;
      margin-right: -0.5px;
      background: $white linear-gradient(to right, rgba($ec-darkblue,0.05)0%, rgba($ec-darkblue,0) 10%, $white 100%);
      border-top-right-radius: $border-radius-xl;
      border-bottom-right-radius: $border-radius-xl;
    }

    svg {
      flex: 0 0 9px;
      width: 9px;
      height: 9px;
    }
  }

  background-color: $white;

  text-align: left;
  font-family: $font-family;
  font-size: $font-size-xs;
  line-height: $line-height;
  color: $font-color;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-radius: $border-radius-xl;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  &.clean {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.minimal {
    align-items: flex-start;
    padding: 0;
    width: auto;

    -webkit-box-shadow: none;
    box-shadow: none;

    svg {
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
    }

    span {
      em {
        color: inherit;
      }
    }

    .ec-widget__brand-name {
      display: none;
    }
  }

  &.layout-small {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    .ec-widget__brand-name {
      display: none;
    }
  }

  span {
    em {
      font-weight: bold;
      font-style: normal;
    }

    a {
      display: inline-block;

      cursor: pointer;
      text-decoration: underline !important;
      font-weight: bold;
      color: $font-color;

      &:hover {
        color: $font-color !important;
        text-decoration: none !important;
      }
    }

    &.ec-widget__separator {
      color: rgba($font-color,0.4);
    }
  }
}
