:host {
  display: block;
}

easycredit-modal {
  .ec-modal {
    width: 800px;
    height: 700px;
    background-color:#e5f0f7;
  }
}

.ec-widget {
  position: relative;
  display: block;
  padding: 15px 15px 15px 77.5px;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;

  background-color: $white;

  text-align: left;
  font-family: $font-family;
  font-size: $font-size-xs;
  line-height: $line-height;
  color: $font-color;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border-radius: $border-radius-xl;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  &__logo {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    @extend .logo-ratenkauf;
    display: block;
    width: 50px;
    height: 24px;
  }

  span {
    em {
      font-weight: bold;
      font-style: normal;
      color: $ec-primary;
    }
  }

  a {
    display: inline-block;
    margin-left: 5px;

    cursor: pointer;
    text-decoration: underline !important;
    font-weight: bold;
    color: $font-color;

    &:hover {
      color: $font-color !important;
      text-decoration: none !important;
    }
  }
}
